.navigation {
    @media(max-width: $tablet) {
        order: 3;
    }

    @media(max-width: $tablet-xs) {
        order: 2;
        justify-self: end;
    }
}

.navigation--list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    width: 454px;
    justify-content: space-between;
}


.navigation--link {
    text-decoration: none;
    color: $white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 24px 0;
    transition: all .3s ease-in;

    &.active {
        font-weight: 500;
    }
    &:hover {
        color: $gold;
    }
    &:focus {
        outline-color: $gold;
    }
}

@media(max-width: $tablet) {
    .navigation--list {
        display: none;
        
    }
    
    .navigation--list.open {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $dark-blue;
        z-index: 5;
        
    }

    .navigation--item {
        border-bottom: 1px solid $gold;
        margin-bottom: 20px;
        text-align: center;
    }

    .navigation--item:first-child {
        padding-top: 20px;
    }

    .navigation--link {
        display: inline-block;
        width: 100%;
        min-height: 44px;
        padding: 12px 24px;
    }

    .navigation--list.open .burger {
        position: relative;
    }
}