//Colors
$dark-blue: #3a4574;
$white: #ffffff;
$gold: #d3b47f;
$black: #000000;
$grey: #808080;
$soft-black: #2e2e2e;
$soft-grey: #E7E7E7;


//media
$laptop: 1200px;
$tablet: 768px;
$tablet-xs: 450px;
$phone: 375px;
